<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="instances">

    <test name="Regression">
        <classes>
            <class name="ae.proctected.covenant.Seleniumautomation.runner.TestRunner"></class>
        </classes>
    </test>
</suite>
        